<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4BAR - {{{c_name}}} - layout</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/public.css">

    <link rel="stylesheet" href="/css/cc_layout.css">
    <link rel="stylesheet" href="/css/dragula.css">

    <script>    
      function widget_submit(type,input){
        socket.emit('widget_submit_req',
          {
            community_id:{{{c_id}}},
            type:type
          }
        );
      } 
    </script>

  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">4BAR</a>

      <div class="collapse navbar-collapse" >

        <form class="form-inline my-2 my-md-0" action="/search" method="GET">
            <input name="query" class="form-control mr-sm-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{{c_name}}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{{c_url}}}">Community Homepage</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cc_wizard">Community Creation</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{{username}}}'s Profile</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="\profile?id={{user_id}}">View</a>
              <a class="dropdown-item" href="\logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
      
    <div class="page-body">
    <h1 class="text-center widget-layouts-header">Widget Creation</h1>
      <div class="col-md-6" style="margin:auto">
        <fieldset>
            <legend class="text-center">Youtube</legend>
            <div class="form-group">
              <label for="youtube_url"><span class="req">* </span> Url: </label>
              <input required type="text" name="youtube_url" id="youtube_url" class="form-control" autocomplete="off" /> 
            </div>

            <div class="form-group">
                <button class="btn btn-primary" onclick="socket.emit('widget_submit_req',{community_id:{{{c_id}}},type:'youtube',data:{url:document.getElementById('youtube_url').value}});">Create</button>
            </div>

            <legend class="text-center">Twitter</legend>
            <div class="form-group">
              <label for="twitter_screen_name"><span class="req">* </span> Account Name: </label>
              <input required type="text" name="twitter_screen_name" id="twitter_screen_name" class="form-control" autocomplete="off" /> 
            </div>

            <div class="form-group">
                <button class="btn btn-primary" onclick="widget_submit('twitter',{screen_name:document.getElementById('twitter_screen_name').value});">Create</button>
            </div>

            <legend class="text-center">Community Tournaments List</legend>

            <div class="form-group">
                <button class="btn btn-primary" onclick="widget_submit('tournaments');">Create</button>
            </div>

            <hr>
        </fieldset>
      </div>

      <div id="wle">
      </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">let socket = io();</script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.load_script.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="/js/NotificationHandler.js"></script>
    <script type="text/javascript">
      let ntf_hndlr = NotificationHandler(
        toastr,
        socket,
        {
          on_success: function(notification){
            if(notification.name == 'widget_submit_res'){
              socket.emit('available_widgets_req',{{{c_id}}});
              toastr.success(notification.success);
            }else{
              toastr.success(notification.success);
            }
          }
        }
      );
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>

    <script type="text/javascript" src="/js/WidgetUIDefinitions.js"></script>
    <script src='/js/WidgetLayoutEngine.js'></script>
    <script type="text/javascript">
      let wle = WidgetLayoutEngine(
        WidgetUIDefinitions,
        document.getElementById('wle'),
        {
          template: true,
          background: '{{{c_wallpaper}}}',
          defaultBackgroundImage: 'https://www.transparenttextures.com/patterns/3px-tile.png',
          save_callback: function () {
           socket.emit(
              'layout_submit_req',
              { community_id : 
                {{{c_id}}}, 
                layout : wle.summarize_template() 
              }
            );
          }
        }
      );

      socket.emit('available_widgets_req',{{{c_id}}});

      socket.on('available_widgets_res',
        function(widget){
          wle.add_available_widget(
            {
              type:widget.type,
              id:widget.id,
              data: widget.data           
            }
          );
        }
      );
  
    </script>

  </body>

</html>
