<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4BAR - Search</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/home.css">

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">let socket = io();</script>

    <script>
      function get_url_parameter(name,url){
          if (!url){
            url = window.location.href;
          }
          name = name.replace(/[\[\]]/g, "\\$&");
          let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
              results = regex.exec(url);
          if (!results){
            return null;
          }
          if (!results[2]){ 
            return '';
          }
          return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    </script>

    <link rel="stylesheet" href="/css/search.css">
    
 </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">4BAR</a>

      <div class="collapse navbar-collapse" >
        <form class="form-inline my-2 my-md-0" action="/search" method="GET">
            <input name="query" class="form-control mr-sm-2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cc_wizard">Community Creation</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{{username}}}'s Profile</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/profile?id={{user_id}}">View</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top: 40px">

      <!-- Communities Search Field -->

      <div class="search-field">
        <h1>Communities</h1>
        <div class="row" onclick="toggle_advanced_search(this)" id="advanced-search-communities">
          <h6 class='advanced-search-button'>Advanced Search</h6>
          <div class="advanced-search-arrow arrow-down"></div>
        </div>
        <form class="advanced-search-input" action="/search" method="GET" style="display:none">

          <input type="hidden" name="query_field" value="communities">  
        
          <div class="form-group">
            <label for="sort-by-communities" >Sort By:</label>
            <select class="form-control" id="sort-by-communities" name="sort_by">
              <option value="name">Name</option>
              <option value="last_activity">Last Activity</option>
              <option value="num_members">Number of Members</option>
            </select>
          </div>

          <div class="form-group">
            <label for="c_name"><span class="req">* </span> Name: </label>
            <input type="text" name="name" id="c_name" class="form-control" autocomplete="off" /> 
          </div>

          <div class="form-group">
            <label for="c_name"><span class="req">* </span> Description: </label>
            <input type="text" name="desc" id="c_desc" class="form-control" autocomplete="off" /> 
          </div>
          
          <div class="form-group">
            <label for="c_labels"><span class="req">* </span> Tag: </label>
            <input type="text" name="tags" id="c_labels" class="form-control" autocomplete="off" /> 
          </div>

          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>

        </form>
      </div>

      <hr>

      <div class="row">
        <ul class="results-list">
          {{#each results.communities}}
            <li>
              <a class="row" href="{{url}}">
                <img src="{{#if icon includeZero=true}}{{icon}}{{else}}/site/no-icon.jpg{{/if}}" style="width:30px;height:30px;">
                <h3 style="margin-left: 10px">{{name}}</h3>
              </a>
              <div class="row">
                <h5>Last Activity</h5>: {{last_activity}}
              </div>
              <div class="row">
                <h5>Members</h5>: {{num_members}}
              </div>
              <div class="row">
                <h5>Tags</h5>: {{tags}}
                <ul>
                  {{#each tag as |tag index|}}
                    <li>{{index}}</li>
                  {{/each}}
                </ul>
              </div>              
              <div class="row">
                <h5>Description</h5>: {{description}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>

      <!-- Tournaments Search Field -->

      <div class="search-field">      
        <h1>Tournaments</h1>
        <div class="row" onclick="toggle_advanced_search(this)" id="advanced-search-tournaments">
          <h6 class='advanced-search-button'>Advanced Search</h6>
          <div class="advanced-search-arrow arrow-down"></div>
        </div>
        <form class="advanced-search-input" action="/search" method="GET" style="display:none">

          <input type="hidden" name="query_field" value="tournaments">

          <div class="form-group">
            <label for="t_name"><span class="req">* </span> Name: </label>
            <input type="text" name="name" id="t_name" class="form-control" autocomplete="off" /> 
          </div>

          <div class="form-group">
            <label for="t_tag"><span class="req">* </span> Tag: </label>
            <input type="text" name="tag" id="t_tag" class="form-control" autocomplete="off" /> 
          </div>

          <div class="form-group">
            <label for="t_location"><span class="req">* </span> Location: </label>
            <input type="text" name="location" id="t_location" class="form-control" autocomplete="off" /> 
          </div>          

          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>

        </form>
      </div>

      <hr>
      
      <div class="row">
        <ul class="results-list">
          {{#each results.tournaments}}
            <li>
              <a class="row" href="/tournaments?id={{id}}">
                <h3>{{name}}</h3>
              </a>
              <div class="row">
                <h5>Hosting Community</h5>: {{community_name}}
              </div>
              <div class="row">
                <h5>Tags</h5>: {{tags}}
              </div>
              <div class="row">
                <h5>Description</h5>: {{description}}
              </div>
              <div class="row">
                <h5>Start Date</h5>: {{start_date}}
              </div>
              <div class="row">
                <h5>Location</h5>: {{location}}
              </div>                    
            </li>
          {{/each}}
        </ul>
      </div>

      <!-- Users Search Field -->

      <div class="search-field">      
        <h1>Users</h1>
        <div class="row" onclick="toggle_advanced_search(this)" id="advanced-search-users">
          <h6 class='advanced-search-button'>Advanced Search</h6>
          <div class="advanced-search-arrow arrow-down"></div>
        </div>
        <form class="advanced-search-input" action="/search" method="GET" style="display:none">

          <input type="hidden" name="query_field" value="users">

          <div class="form-group">
            <label for="sort-by-users" >Sort By:</label>
            <select class="form-control" id="sort-by-users" name="sort_by">
              <option value="username">Username</option>
              <option value="name">Name</option>
              <option value="email">Email</option>
            </select>
          </div>


          <div class="form-group">
            <label for="c_username"><span class="req">* </span> Username: </label>
            <input type="text" name="username" id="c_username" class="form-control" autocomplete="off" /> 
          </div>

          <div class="form-group">
            <label for="u_name"><span class="req">* </span> Name: </label>
            <input type="text" name="name" id="u_name" class="form-control" autocomplete="off" /> 
          </div>
          
          <div class="form-group">
            <label for="u_email"><span class="req">* </span> Email: </label>
            <input type="text" name="email" id="u_email" class="form-control" autocomplete="off" /> 
          </div>

          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>

        </form>
      </div>

      <hr>

      <div class="row">
        <ul class="results-list">
          {{#each results.users}}
            <li>
              <a class="row" href="\profile?id={{id}}">
                <img style="height: 30px;width:30px;margin-right: 5px" src="{{#if avatar includeZero=true}}{{{avatar}}}{{else}}/site/no-icon.jpg{{/if}}"><h3>{{username}}</h3>
              </a>
              <div class="row">
                <h5>Full Name</h5>: {{name}}
              </div>
              <div class="row">
                <h5>Email</h5>: {{email}}
              </div>              
            </li>
          {{/each}}
        </ul>
      </div>

      <!-- End of Users Search Field -->
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>

      function toggle_advanced_search(el){
        let all_advanced_search = $('.search-field');
        for(let i = 0; i < all_advanced_search.length;i++){
          let advanced_search_input = $(all_advanced_search[i]).find('.advanced-search-input')[0];
          let advanced_search_button = $(all_advanced_search[i]).find('.advanced-search-button')[0];
          let advanced_search_arrow = $(all_advanced_search[i]).find('.advanced-search-arrow')[0];

          if(!$(all_advanced_search[i]).is($(el).parent())){
            advanced_search_arrow.setAttribute('class','advanced-search-arrow arrow-down');
            advanced_search_input.style.display = 'none';            
          }else if(advanced_search_input.style.display === 'block'){
            advanced_search_arrow.setAttribute('class','advanced-search-arrow arrow-down');
            advanced_search_input.style.display = 'none';           
          }else{
            advanced_search_arrow.setAttribute('class','advanced-search-arrow arrow-up');
            advanced_search_input.style.display = 'block';
          }
        }
      }

    </script>

    <script>
      let query_field = get_url_parameter('query_field');
      let sort_by = get_url_parameter('sort_by');

      if(typeof query_field !== 'undefined'){
        toggle_advanced_search(document.getElementById('advanced-search-'+query_field));
        if(typeof sort_by !== 'undefined'){
           $('#sort-by-'+query_field).val(sort_by);
        }
      }
    </script>

    <script src="/js/NotificationHandler.js"></script>
    <script type="text/javascript">
      let ntf_hndlr = NotificationHandler(
        toastr,
        socket
      );
    </script>

  </body>

</html>
