<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>4BAR - Search</title>
    
    <link rel="icon" href="/site/Logo.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/friends_list.css">
    <link rel="stylesheet" href="/css/results_tables.css">

    <!-- Set SSO cookie for nodebb  -->
    <script>
      document.cookie = "nodebb={{nodebb.token}}; Path=/; domain=."+window.location.hostname;
    </script>
    
    <script src="/js/public.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">let socket = io('/private');</script>

 </head>

  <body>

    <div id="wrapper" data-toggle-on='false'>

      <!-- Friends List -->
      <div class="btn-group dropup" id="friends">
        <button type="button" id="friends-toggle" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h5>Friends</h5>
        </button>
        <div class="dropdown-menu" id="friends-menu">
        </div>
      </div>

      <!-- Navbar -->
      <nav id="navbar-wrapper" class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top navbar-expand-sm">
        <div class="navbar-brand">
          <button class="sidebar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" id="menu-toggle">
            <span class="sidebar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/home"><img class="navbar-icon site-icon" src="/site/Logo.png">4bar.org</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-auto-spacing">
              <form id="search-form" class="form-inline my-2 my-md-0" action="/search" method="GET">
                <input name="query" class="form-control mr-sm-2">
              </form>
            </li>
            <li class="nav-item nav-auto-spacing">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="document.getElementById('search-form').submit()" for="submit-search-form" >Search</button>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/community_creation" data-toggle="tooltip" data-placement="bottom" title="Community Creation"><img src="/site/community-creation.png" class="navbar-icon"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="notification-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/site/notification.png" class="navbar-icon"></a>
              <div id="notification-dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="notification-dropdown">
                <div class="dropdown-menu-head">
                  <h5 class="dropdown-item">Notifications<img src="site/settings.png" class="float-right"></h5> 
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{#if user_data.avatar includeZero=true}}/avatars/{{{user_data.avatar}}}{{else}}/site/no-avatar.jpg{{/if}}"></a>
              <div id="profile-dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-dropdown">
                <a class="dropdown-menu-head dropdown-item" href="/profile?id={{user_data.id}}">
                  <h5 class="dropdown-item">{{user_data.username}}</h5> 
                  <h6 class="dropdown-item">{{user_data.email}}</h6> 
                </a>
                <a class="dropdown-item" href="/profile?id={{user_data.id}}">My Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /Navbar -->

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-collapse">
                <form class="form-inline my-2 my-md-0" action="/search" method="GET">
                  <input name="query" class="form-control mr-sm-2 search-query-input">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                </form>
              </li>
              <li class="sidebar-collapse">
                <a href="/profile?id={{user_data.id}}">My Profile</a>
              </li>
              <li class="sidebar-collapse">
                  <a href="/community_creation">Community Creation</a>
              </li>
              <li class="sidebar-collapse">
                <hr>
              </li>
              <li>
                  <a href="/home">Home</a>
              </li>
              <li>
                <a href="{{nodebb.address}}">Forums</a>
              </li>
              <li>
                <a href="/calendar">Calendar</a>
              </li>
              <li>
                <a href="/geolocation">Nearby Events</a>
              </li>
              <li>
                <hr>
              </li>
              <li>
                <a class="sidebar-title" href="/profile?active_field=communities"><h5>Communities</h5></a>
              </li>
              {{#each user_data.communities}}
              <li>
                  <a href="/communities?id={{id}}"><img src="{{#if icon includeZero=true}}/icons/{{icon}}{{else}}/site/no-icon.jpg{{/if}}">{{name}}</a>
              </li>
              {{/each}}
              <li>
                <hr>
              </li>
              <li>
                <a class="sidebar-title" href="/profile?active_field=tournaments"><h5>Tournaments</h5></a>
              </li>
              {{#each user_data.tournaments}}
              <li>
                  <a href="/tournaments?id={{id}}">{{name}}</a>
              </li>
              {{/each}}
          </ul>
      </div>
      <!-- /Sidebar -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          
          <div class="container-fluid">
              <h1 class="ml-auto">Search Results</h1>
              <hr/>
              <div class="row" id="search-results-container">
                <div class="col-sm search-results-column" id="communities-column">
                  <h5 class="search-results-table-title thead-invert" data-toggle="communities-table" id="communities-title">Communities</h5>
                  <table class="table table-striped table-hover search-results-table" id="communities-table">
                    <thead>
                      <tr>
                        <td scope="col" class="empty"></td>
                        <td scope="col">Name</td>
                        <td scope="col">Tags</td>
                        <td scope="col" class="extra">Description</td>
                        <td scope="col" class="extra">Creation Date</td>
                        <td scope="col" class="extra">Last Activity</td>
                        <td scope="col" class="extra">Members</td>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each results.communities}}
                      <tr class="clickable-row" data-href="/communities?id={{id}}">
                        <td><img src="{{#if icon includeZero=true}}/icons/{{{icon}}}{{else}}/site/no-icon.jpg{{/if}}" class="community-icon"></td>
                        <td><h6>{{name}}</h6></td>
                        <td>{{#each tags}}<a href="/search?query_field=communities&tag={{this}}&active_field=communities">{{this}}</a>{{#unless @last}},{{/unless}}{{/each}}</td>
                        <td class="extra">{{description}}</td>
                        <td class="extra"><script>document.write(format_date({{creation_date}}));</script></td>
                        <td class="extra"><script>document.write(format_date({{last_activity}}));</script></td>
                        <td class="extra">{{num_members}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <div class="col-sm search-results-column" id="tournaments-column">
                  <h5 class="search-results-table-title" data-toggle="tournaments-table" id="tournaments-title">Tournaments</h5>
                  <table class="table table-striped table-hover search-results-table" id="tournaments-table">
                    <thead>
                      <tr>
                        <td scope="col">Host Community</td>
                        <td scope="col">Name</td>
                        <td scope="col">Tags</td>
                        <td scope="col" class="extra">Description</td>                     
                        <td scope="col" class="extra">Location</td>                     
                        <td scope="col" class="extra">Start Date</td>                     
                        <td scope="col" class="extra">Signup Deadline</td>                     
                      </tr>
                    </thead>
                    <tbody>
                      {{#each results.tournaments}}
                      <tr class="clickable-row" data-href="/tournaments?id={{id}}">
                        <td><a href="/communities?id={{community_id}}"><h7>{{community_name}}</h7></a></td>
                        <td><h7>{{name}}</h7></td>
                        <td>{{#each tags}}<a href="/search?query_field=tournaments&tag={{this}}&active_field=tournaments">{{this}}</a>{{#unless @last}},{{/unless}}{{/each}}</td>
                        <td class="extra">{{description}}</td>
                        <td class="extra">{{location}}</td>
                        <td class="extra"><script>document.write(format_date({{start_date}},{includeTime:true}));</script></td>
                        <td class="extra"><script>document.write(format_date({{signup_deadline}},{includeTime:true}));</script></td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <div class="col-sm search-results-column" id="users-column">
                  <h5 class="search-results-table-title" data-toggle="users-table" id="users-title">Users</h5>
                  <table class="table table-striped table-hover search-results-table" id="users-table">
                    <tbody>
                    <thead>
                      <tr>
                        <td scope="col" class="empty"></td>
                        <td scope="col">Username</td>
                        <td scope="col">Name</td>
                        <td scope="col" class="extra">Email</td>
                      </tr>
                    </thead>
                      {{#each results.users}}
                      <tr class="clickable-row" data-href="/profile?id={{id}}">
                        <td><img src="{{#if avatar includeZero=true}}/avatars/{{{avatar}}}{{else}}/site/no-avatar.jpg{{/if}}" class="profile-avatar"></td>
                        <td><h6>{{username}}</h6></td>
                        <td>{{name}}</td>
                        <td class="extra">{{email}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /Page Content -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Load jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Load Booststrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Load notification handler. Used to display notifications sent from the server through socket.io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="/js/NotificationHandler.js"></script>
    <script type="text/javascript">
      let ntf_hndlr = NotificationHandler(
        toastr,
        socket
      );
    </script>

    <!-- Dropdown Notifications -->
    <script src="/js/DropdownNotificationsDefinitions.js"></script>
    <script src="/js/DropdownNotificationsHandler.js"></script>
    <script type="text/javascript">
      let dd_ntf_hndler = DropdownNotificationsHandler(
        socket,
        DropdownNotificationsDefinitions
      );
    </script>

    <!-- Friends List -->
    <script type="text/javascript" src="/js/FriendsListHandler.js"></script>
    <script type="text/javascript">
      let fl_hndler = FriendsListHandler(socket);
    </script>

    <!-- Menu Toggle Script -->
    <script src="/js/Sidebar.js"></script>

    <!-- Make rows clickable -->
    <script type="text/javascript">
      $(document).ready(function($) {
          $(".clickable-row").css('cursor','pointer');
          $(".clickable-row").click(function() {
              window.location = $(this).data("href");
          });
      });
    </script>

    <!-- Disable other search results columns -->
    <script type="text/javascript" src="js/results_tables.js"></script>

  </body>

</html>
